@font-face {
	font-family:fontawesome;
	src:url(/files/fontawesome-webfont.woff);
}
header,footer {
	width:100%;
	padding:0;
	margin:0;
	color:#111;
	background-color:transparent;
	clear:left;
	text-align:left;
	font-family:monospace,fontawesome;
}
body {
	padding:0;
	margin:60px 0 0 0;
	color:#030303;
	background-color:#fefefe;
	clear:left;
	text-align:left;
	font-family:helvetica,fontawesome;
	font-size:90%;
}
input {
	font-family:sans-serif;
	border:1px solid #aaa;
	border-radius:8px;
	-webkit-border-radius:8px;
	background-color:transparent;
	text-align:center;
}
input.symbol {
	font-family:fontawesome;
	color:#444;
	background-color:transparent;
	padding:2px 2px 2px 2px;
	border:1px solid #888;
	border-radius:4px;
	-webkit-border-radius:4px;
}
input:hover.symbol {
	color:#89b3e1;
	background-color:transparent;
	padding:2px 2px 2px 2px;
	border:1px solid #89b3e1;
	border-radius:4px;
	-webkit-border-radius:4px;
}
button {
	border:1px solid #aaa;
	border-radius:4px;
	-webkit-border-radius:4px;
	background-color:transparent;
	font-family:fontawesome;
}
button.symbol {
	font-family:fontawesome;
	color:#444;
	background-color:transparent;
	padding:2px 2px 2px 2px;
	border:1px solid #888;
	border-radius:4px;
	-webkit-border-radius:4px;
}
button:hover.symbol {
	color:#89b3e1;
	background-color:transparent;
	border-color:#89b3e1;
}
button.framed {
	width:100%;
	height:100%;
	color:#101010;
	border:1px solid #6993C1;
	background-color:transparent
}
button.image {
	display:inline-block;
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
}
a:link.selected {
	color:#fff;
	background-color:transparent;
	text-decoration:none
}
a:visited.selected {
	color:#fff;
	background-color:transparent;
	text-decoration:none
}
a:hover.selected {
	color:#fff;
	background-color:transparent;
	text-decoration:none
}
a:active.selected {
	color:#fff;
	background-color:transparent;
	text-decoration:none
}
a:link.home {
	color:#444;
	font-size:160%;
	background-color:transparent;
	text-decoration:none;
	padding-bottom:0;
	border:none;
}
a:visited.home {
	color:#444;
	text-decoration:none;
}
a:hover.home {
	color:#444;
	text-decoration:none;
}
a:active.home {
	color:#444;
	text-decoration:none;
}
a:link.menu {
	color:#333;
	background-color:transparent;
	text-decoration:none;
	padding-bottom:1px;
	border:none;
}
a:visited.menu {
	color:#333;
	text-decoration:none;
}
a:hover.menu {
	color:#333;
	border-bottom:1px solid #333;
}
a:active.menu {
	color:#333;
	border-bottom:1px solid #333;
}
a:link.plain {
	color:#333;
	text-decoration:none;
}
a:visited.plain {
	color:#333;
	text-decoration:none;
}
a:hover.plain {
	color:#333;
	text-decoration:none;
}
a:active.plain {
	color:#333;
	text-decoration:none;
}
a:link.symbol {
	font-family:fontawesome;
	color:#333;
	background-color:transparent;
	text-decoration:none;
}
a:visited.symbol {
	font-family:fontawesome;
	color:#333;
	background-color:transparent;
	text-decoration:none;
}
a:hover.symbol {
	font-family:fontawesome;
	color:#333;
	background-color:transparent;
	text-decoration:none;
}
a:active.symbol {
	font-family:fontawesome;
	color:#333;
	background-color:transparent;
	text-decoration:none
}
table {
	border:0;
	padding:0;
	margin:0;
	font-family:monospace,fontawesome;
}
table.menu {
	border-spacing:0 0;
	border-collapse:separate;
	background-color:transparent;
}
table.button {
	border-spacing:0.1em 0; /* horz, vert*/
}
table.legend {
	width:100%;
	border-spacing:0 0; /* horz, vert*/
	border-collapse:separate;
	border:1px solid #6993C1;
}
table.blank {
	border-spacing:0;
	border-collapse:separate;
	border:0;
	padding:0;
	margin:0;
}
table.info {
	width:100%;
	border-spacing:0 0; /* horz, vert*/
	border-collapse:separate;
	border:1px solid #6993C1;
}
td {
	border:0;
	text-align:left;
}
td.blank {
	text-align:center;
	border:0;
	color:transparent;
}
td.bright {
	color:#303030;
	background-color:#89b3e1;
	text-align:left;
}
td.bgleft {
	border:3px solid #89b3e1;
	color:#303030;
	background-color:transparent;
	border-color:transparent;
	text-align:left;
}
td.info {
	font-family:helvetica,fontawesome;
	padding:2px 4px 8px 4px;
	border:0 transparent;
	color:#707070;
	background-color:transparent;
	text-align:left;
	font-size:100%;
}
td.pad {
	background-color:transparent;
	padding:1px 8px 1px 8px;
	text-align:left;
}
td.even {
	background-color:#eee;
	padding:2px 4px 2px 4px;
}
td.odd {
	background-color:transparent;
	padding:2px 4px 2px 4px;
}
img.icon {
	width:12px;
	height:12px;
	vertical-align:middle;
}
ul.menu {
	font-family:mono,fontawesome;
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	width:100%;
	background-color:transparent;
}
li.menu {
	float:left;
	background-color:transparent;
}
li.menu a {
	display:block;
	border:1px solid transparent;
	color:#000;
	background-color:transparent;
	text-align:center;
	margin:8px 4px 8px 4px;
	padding:3px 5px 3px 5px;
	text-decoration:none;
}
li.menu a:hover {
	color:#000;
	border-bottom:1px solid #000;
}
li.menu a:active {
	color:#000;
	background-color:transparent;
}
label.symbol {
	font-family:fontawesome;
	font-size:32px;
	color:#86b280;
}
div.menu {
	font-family:mono,fontawesome;
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#ddd;
	position:fixed;
	top:0;
	width:100%;
	font-weight:normal;
	-webkit-box-shadow:0px 0px 10px 2px rgba(0,0,0,.8);
	-moz-box-shadow:0px 0px 10px 2px rgba(0,0,0,.8);
	box-shadow:0px 0px 10px 2px rgba(0,0,0,.8);
	z-index:100;
}
div.input {
	border:1px solid #aaa;
	border-radius:8px;
	-webkit-border-radius:8px;
	padding:0;
	margin:0;
}
div.checkbox input[type=checkbox] {
	display:none;
}
div.checkbox label {
	font-family:fontawesome;
	display:inline-block;
	border:1px solid #aaa;
	border-radius:8px;
	-webkit-border-radius:8px;
	color:#888;
	background-color:none;
	padding:3px 5px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}
div.checkbox label:hover {
	color:#de5958;
	border:1px solid #de5958;
}
div.checkbox input[type=checkbox]:checked + label {
	color:#eee;
	background-color:#de5958;
	border:1px solid transparent;
}
span.symbol {
	font-family:fontawesome;
	color:#333;
}
span.home {
	font-family:fontawesome;
	color:#86b280;
}
.static {
	color:black;
	font-family:fontawesome;
	font-size:16px;
	width:16px;
	height:16px;
	background-color:transparent;
	display:block;
	margin:0;
	padding:0;
	border:1px solid #eee;
	border-radius:50%;
	border-bottom:1px solid #777;
	border-left:1px solid #777;
	border-top:1px solid #777;
	border-right:1px solid #777;
}
.loader {
	font-family:fontawesome;
	font-size:16px;
	margin:0;
	padding:0;
	border:1px solid #eee;
	border-radius:50%;
	border-bottom:1px solid #555;
	border-left:1px solid #555;
	border-top:1px solid #555;
	border-right:1px solid #555;
	width:16px;
	height:16px;
	-webkit-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}
/* loader example
<div>
<a class=hide id=hidespin href=#hidespin><div class="static">
<b style=color:red;>.</b></div></a>
<a class=show id=showspin href=#showspin><div class="loader">
<b style=color:red;>.</b></div></a>
</div>
<br>
*/
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.hide:link {
	text-decoration:none;
}
.hide:visited {
	background-color:transparent;
	text-decoration:none;
}
.hide:hover {
	background-color:transparent;
	text-decoration:none;
}
.hide:active {
	background-color:transparent;
	text-decoration:none;
}
.details,
.show,
.hide:target {
	display:none;
	text-decoration:none;
}
.hide:target + .show,
.hide:target ~ .details {
	display:block;
	text-decoration:none;
}
.break {
	display:block;
	width:100%;
	height:10px;
	color:transparent;
	background-color:transparent;
}
/* collapsible example:
<div>
<a id=hide1 href=#hide1 class=hide>+ show more</a>
<a id=show1 href=#show1 class=show>- show more</a>
<div class=details>more</div>
</div>
*/
/*
example:
#<input type=checkbox id=\"ckbtn\"/ value=auto>
#<label id=btn for=\"ckbtn\"></label>
#btn {
	font-family:fontawesome;
	position:relative;
	border:1px solid #aaa;
	border-radius:1px;
	-webkit-border-radius:1px;
	background:white;
}
#btn:before {
	visibility:hidden;
	content:'\f10c';
}
#ckbtn {
	display:none;
	content:'\f096';
}
#ckbtn:checked + #btn:after {
	font-family:fontawesome;
	position:absolute;
	border:0px solid #aaa;
	border-radius:1px;
	-webkit-border-radius:1px;
	padding:0px 5px;
	background:blue;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	content:'\f00c';
}
*/
.tooltip {
	position:relative;
	display:inline-block;
	border-bottom:1px dotted none;
}
.tooltip .tooltiptext {
	visibility:hidden;
	background-color:#eeee00;
	color:#333;
	text-align:center;
	border-radius:6px;
	padding:4px 4px;
	position:absolute;
	z-index:1;
	top:150%;
	left:50%;
	margin-left:-50px;
}
.tooltip .tooltiptext::after {
	content:"";
	position:absolute;
	bottom:100%;
	left:50%;
	margin-left:-5px;
	border-width:5px;
	border-style:solid;
	border-color:transparent transparent #eeee00 transparent;
}
.tooltip:hover .tooltiptext {
	visibility:visible;
}
